{% extends 'base.html' %}
{% block title %} Department {% endblock %}
{% block header %} Department (Foreign_key) {% endblock %}
{% block content %}
<div class="card-body">
<table class="table table-dark table-stripped">
    <thead>
    <tr>
        <th scope="col">Department Id</th>
        <th scope="col">Department Name</th>
    </tr>
    </thead>
    <tbody>
    {% for dept in departments %}
    <tr>
        <th>{{dept.id}}</th>
        <th>{{dept.name}}</th>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
