{% extends 'base.html' %}
{% block title %} Student Data {% endblock %}\
{% block header %} Student (with department name as Foreign Key) {% endblock %}
{% block content %}
<div class="card-body">
    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="/stu_create" class="btn btn-primary">Create Student</a>
    </div>
    <div style="margin:10px 0;"></div>
    {% if students %}
    <table class="table table-stripped">
        <thead>
        <tr>
            <th scope="col">Student Name</th>
            <th scope="col">Semester</th>
            <th scope="col">Course</th>
            <th scope="col">Address</th>
            <th scope="col">Department</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for stu in students %}
        <tr>
            <th>{{stu.name}}</th>
            <th>{{stu.semester}}</th>
            <th>{{stu.course}}</th>
            <th>{{stu.address}}</th>
            <th>{{stu.department}}</th>
            <th><a href="/del_stu/{{stu.id}}/" class="btn btn-danger">Delete</a></th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}